* {
    box-sizing: border-box;
    
}



.grid-container {
    display: grid;
    grid-template-columns: 75% 25%;    
    grid-template-rows: 10% 90% 10%;
    gap: 2%;
    grid-template-areas:
    "header header"
    "main sidebar"
    "footer footer";
}

.header {
    background-color:lightgray;
    border-radius: 5px 5px 0 0;
    grid-area: header;

}

.header ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 2%;
    gap: 5%;
    height: 100%;
}

.header ul li a {
    color: rgb(245, 231, 38);
}

.header >ul > li > a:hover {
    color: rgb(100,95,53);
}

.header ul li {
    padding-bottom: 3%;
}

.main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-area: main;
    padding-block: 5%;
    padding-inline: 5%;
    font-size: 0.8em;
}



.main > .product:hover {
    outline: 1px solid blue;
    border-radius: 5px;
}



.main > .product {
    padding: 10%;
    font-size: 0.8em;
}


.sidebar {
    grid-area: sidebar;
    position: relative;
    font-size: 0.8em;
}

.sidebar ul {
    list-style-type: none;
    position: absolute;
    top: 0;
    left: -10%;
}

a {
    text-decoration: none;
    color: black;
}

.footer {
    grid-area: footer;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media  (max-width: 480px) {
    .grid-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 90% 10%;
        gap: 2%;
        grid-template-areas:
        "header"
        "main"
        "sidebar"
        "footer";
    }

    .main {
        display: grid;
        grid-template-columns: auto;

    }

    .header ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-inline: 2%;
        height: 100%;
        padding-bottom: 5%;
    }

    .sidebar {
        left: 15%
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 10% 70% 10%;
        gap: 2%;
        grid-template-areas:
        "header"
        "sidebar"
        "main"
        "footer";
    }
    .sidebar{
        left: 11.5%;
        top: 50%;
    }
}
