* {box-sizing: border-box;}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #fbfbfb;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: sticky;
    height: 10vh;
}

.brand {
    display: flex;
    align-items: center;
}

.brand-text {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}

.brand-img {
    max-height: 100%;
}



.links {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

#inscription {
    position: relative;
}




#dropdown {
    list-style-type: none;
    position: absolute;
    padding: 0px;
    width: 150px;
    display: none;
    background-color: #fbfbfb;
    padding: 5px;
    border-radius: 5px;
}

#dropdown li {
    padding: 5px;
}

#inscription:hover > #dropdown {
    display: block;
}

.links a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.connect-button {
    align-self: center;
    background-color: #8d98a7;
    height: 100%;
    text-align: center;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center; 
    padding-inline: 10px;
}

.connect-button:hover {
    outline: 3px dotted blue;
    border-radius: 10px;
    background-color: green;
}

.main {
    background-image: url(./meeting-room.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
    gap: 15px;
    width: 100%;
    margin: 0;
}

#content {
    color: white;
}

.button {
    color: white;
    background-color: #a78d74;
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;

}

.footer {
    display: flex;
    justify-content: center;
    gap: 10%;
    background-color: #fbfbfb;
    height: 10vh;
}
#phone, #mail, #adress {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


i {
    animation: icone 6s ease-in infinite;
}

@keyframes icone {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



