* {
    box-sizing: border-box;
}

img {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#contact {
    box-shadow: 4px 4px 10px darkgrey;
}

button {
    text-shadow: 3px 3px 7px red;
}